application = {
  bitso = {
    ws = "ws://ws.bitso.com",
    subscription_order = "{ \"action\": \"subscribe\", \"book\": \"btc_mxn\", \"type\": \"orders\" }",
    subscription_trades = "{ \"action\": \"subscribe\", \"book\": \"btc_mxn\", \"type\": \"trades\" }",
    subscription_diff_orders = "{ \"action\": \"subscribe\", \"book\": \"btc_mxn\", \"type\": \"diff-orders\" }"
  },
  google_cloud_pubsub = {
    project_id = "",
    topics = {
      bitcoin_trades_bitso = "bitcoin_bitso_trades",
      bitcoin_order_bitso = "bitcoin_order_trades",
      bitcoin_diff_orders_bitso = "bitcoin_diff_orders_trades"
    }

  }
}