application = {
  bitso = {
    ws = "ws://ws.bitso.com",
    subscription_order_btc_mxn = "{ \"action\": \"subscribe\", \"book\": \"btc_mxn\", \"type\": \"orders\" }",
    subscription_trades_btc_mxn = "{ \"action\": \"subscribe\", \"book\": \"btc_mxn\", \"type\": \"trades\" }",
    subscription_diff_orders_btc_mxn = "{ \"action\": \"subscribe\", \"book\": \"btc_mxn\", \"type\": \"diff-orders\" }"
  },
  kafka = {
    bootstrap_server = "localhost:9092",
    string_serializer = "org.apache.kafka.common.serialization.StringSerializer",
    topics = {
      bitcoin_bitso_trades = "bitcoin_bitso_trades",
      bitcoin_bitso_orders = "bitcoin_bitso_orders",
      bitcoin_bitso_diff_orders = "bitcoin_bitso_diff_orders"
    }
  }
}


